@import "compass/css3/border-radius"

.jumbotron {
  text-align: center;
  padding: 24px;
  .genres {
    display: block;
    margin: 0 0 24px;
    border: 1px solid #aaa;
    height: 48px;
    -webkit-appearance: menulist-button;
  }
  .load-more {
    text-align: right;
    input {
      width: 60px;
      text-align: center;
      margin: 0 8px 0 8px;
    }
  }
  .loading {
    width: 150px;
    margin: 24px;
  }
  .videos {
    clear: both;
    .video {
      display: inline-block;
      width: 33%;
      cursor: pointer;
      img {
        width: 100%;
        max-height: 189px;
        border-radius(5px);
      }
      .title {
        font-size: 24px;
        height: 36px;
        overflow: hidden;
        margin-top: 4px;
        color: #333;
      }
      &:hover .title {
        color: #5cb85c;
      }
    }
  }
}


@media screen and (max-width: 640px) {
  .jumbotron {
    .videos {
      .video {
        width: 50%;
        img {
          width: 100%;
          max-height: 216px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .jumbotron {
    .videos {
      .video {
        width: 100%;
        img {
          width: 100%;
          max-height: none;
        }
      }
    }
  }
}